# Apna original Telegram Bot Token yahan daalein
BOT_TOKEN="1234567890:AAH_xxxxxxxxxxxxxxxxxxxxxxxxxx"

# Aapki personal Telegram User ID (jahan bot stats wgerah handle karega)
ADMIN_ID="123456789"

# Wo Channel/Group ID jahan Users ke payment screenshots aayenge approval ke liye
ADMIN_CHANNEL_ID="-1001234567890"

# Wo Free channel jise join karna compulsory hai (FSub)
FSUB_CHANNEL_ID="@your_free_channel_username"

# Aapka main VIP Paid Channel jis se expire hone par kick kiya jayega
PAID_CHANNEL_ID="-1009876543210"

# Aapke Koyeb App ka link (e.g. https://your-app-name.koyeb.app) - End me / mat lagana
WEBAPP_URL="https://your-app-name.koyeb.app"
